@inject NavigationManager NavigationManager;
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                       <RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>404</PageTitle>
            <AuthorizeView>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(UserLayout)">
                        <ApenHis.Blazor.Pages.Exception._404/>
                    </LayoutView>
                </NotAuthorized>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <ApenHis.Blazor.Pages.Exception._404 />
                    </LayoutView>
                </Authorized>
            </AuthorizeView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>